<table>
  <thead>
    <th><h1>Comic World</h1></th>
  </thead>

  <tbody>
    <tr>
      <td>Welcome to Comic World</td>
    </tr>

    <tr>
      <td>Add a New Comic or Graphic Novel</td>
    </tr>
    <tr>

      <td>Leave a Review for an existing Item!!!</td>
    </tr>
  </tbody>
</table>
